services:
  frontend:
    image: nginx:alpine
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    networks:
      - frontend_net
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ynov_ci
    volumes:
      - ./sqlfiles:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - backend_net

  redis:
    image: redis:alpine
    restart: always
    volumes:
      - redisdata:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - backend_net

  api:
    image: ${PYTHON_IMAGE:-python-api}
    build:
      context: .
      dockerfile: python.Dockerfile
    volumes:
      - ./app:/server/app
    restart: always
    ports:
      - "8000:8000"
    environment:
      POSTGRES_HOST: db
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      REDIS_HOST: redis
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: uvicorn app.main:app --proxy-headers --host 0.0.0.0 --port 8000
    networks:
      - frontend_net
      - backend_net

volumes:
  pgdata:
  redisdata:

networks:
  frontend_net:
  backend_net:
